/* apply a natural box layout model to all elements */
/* line 7, ../../app/styles/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../../app/styles/main.scss */
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 34, ../../app/styles/main.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 68, ../../app/styles/main.scss */
body {
  color: #693c10;
  background: #fdfbfa;
  margin: 39px 20px 0;
}

/* line 74, ../../app/styles/main.scss */
h2 {
  font-size: 20px;
}

/* line 78, ../../app/styles/main.scss */
a {
  text-decoration: underline;
  color: #693c10;
  position: relative;
  padding: .5em;
  margin: -0.5em;
}

/* line 87, ../../app/styles/main.scss */
a:hover {
  color: #693c10;
  text-decoration: none;
}

/* line 94, ../../app/styles/main.scss */
fieldset.toggle {
  border-top: 1px solid #693c10;
}
/* line 96, ../../app/styles/main.scss */
fieldset.toggle legend.toggler {
  cursor: pointer;
  margin: 0 0 1em 0;
  display: block;
  text-indent: 2em;
  width: auto;
  padding-right: 1em;
  font-size: 1em;
  line-height: 1.5em;
  color: #693c10;
  border: 0;
}
/* line 107, ../../app/styles/main.scss */
fieldset.toggle legend.toggler:before {
  content: "▶";
  display: block;
  position: absolute;
  width: 12px;
  height: 18px;
  padding: 0 0 0 6px;
  font-size: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fdfbfa;
  background: #693c10;
  margin-top: 1px;
  line-height: 18px;
  text-indent: 0;
}
/* line 123, ../../app/styles/main.scss */
fieldset.toggle legend.toggler.open:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 129, ../../app/styles/main.scss */
fieldset.toggle .togglee {
  display: none;
  overflow: hidden;
  border-bottom: 1px solid #693c10;
  padding: 0 2em 1em 2em;
  margin: 0 0 1em 0;
}

/* line 146, ../../app/styles/main.scss */
.badge {
  letter-spacing: 1px;
  padding: 1px 8px 2px;
  border: 1px solid white;
  background: #cabaab;
  color: #655d55;
  border-color: #655d55;
}

/* line 153, ../../app/styles/main.scss */
.panel {
  letter-spacing: 1px;
  border: 4px solid #fac15b;
  background: #cabaab;
  color: #655d55;
  border-color: #655d55;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 6px 10px;
  position: relative;
}
/* line 160, ../../app/styles/main.scss */
.panel span {
  font-size: 12px;
  position: absolute;
  margin-right: 5px;
}
/* line 165, ../../app/styles/main.scss */
.panel h1 {
  text-align: center;
  margin: 20px 0;
}

/* line 171, ../../app/styles/main.scss */
.alert {
  padding: 15px 35px 8px 14px;
  border: 4px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #cabaab;
  color: #655d55;
  border-color: #655d55;
}

/* line 180, ../../app/styles/main.scss */
.badge-success,
.alert-success,
.panel.success {
  background: #85c69a;
  color: #42634d;
  border-color: #42634d;
}

/* line 185, ../../app/styles/main.scss */
.badge-warning,
.alert-warning,
.panel.warning {
  background: #fac970;
  color: #7d6438;
  border-color: #7d6438;
}

/* line 190, ../../app/styles/main.scss */
.badge-error,
.alert-error,
.panel.error {
  background: #de8a90;
  color: #6f4548;
  border-color: #6f4548;
}

/* line 195, ../../app/styles/main.scss */
.badge-info,
.alert-info,
.panel.info {
  background: #daedf7;
  color: #6d767b;
  border-color: #6d767b;
}

/* line 200, ../../app/styles/main.scss */
.badge-inverse,
.alert-inverse,
.panel.inverse {
  background: #121212;
}

/* line 206, ../../app/styles/main.scss */
.form-search input {
  height: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-top: 5px;
}

/* line 212, ../../app/styles/main.scss */
.pagination a {
  margin: 0;
}
/* line 214, ../../app/styles/main.scss */
.pagination a:hover {
  font-weight: normal;
}

/* line 218, ../../app/styles/main.scss */
.pagination span {
  margin: 0;
}

/* line 224, ../../app/styles/main.scss */
.userSearch .form-search {
  float: left;
}
/* line 227, ../../app/styles/main.scss */
.userSearch .clearSearch {
  margin-left: 30px;
}
/* line 230, ../../app/styles/main.scss */
.userSearch .pagination {
  height: 30px;
}
/* line 232, ../../app/styles/main.scss */
.userSearch .pagination a, .userSearch .pagination span {
  line-height: 28px;
}

/* line 237, ../../app/styles/main.scss */
.tableStatus {
  display: block;
  position: relative;
  height: 20px;
}
/* line 241, ../../app/styles/main.scss */
.tableStatus .currentSearchTerm {
  display: block;
  float: left;
}
/* line 245, ../../app/styles/main.scss */
.tableStatus .currentSearchMetrics {
  display: block;
  float: right;
}

/* line 254, ../../app/styles/main.scss */
.module legend, form legend, .toggle legend {
  margin-bottom: 10px;
  line-height: 40px;
  border-bottom: 1px solid #693c10;
  color: #693c10;
}
/* line 260, ../../app/styles/main.scss */
.module .description, .module .error, form .description, form .error, .toggle .description, .toggle .error {
  margin-bottom: 10px;
  display: block;
}
/* line 264, ../../app/styles/main.scss */
.module .error, form .error, .toggle .error {
  margin-left: 165px;
  color: #be1522;
}
/* line 268, ../../app/styles/main.scss */
.module section, form section, .toggle section {
  border-top: 1px solid #d9cec3;
  padding-top: 10px;
  *zoom: 1;
  overflow: hidden;
}
/* line 12, ../../app/styles/main.scss */
.module section:before, .module section:after, form section:before, form section:after, .toggle section:before, .toggle section:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 19, ../../app/styles/main.scss */
.module section:after, form section:after, .toggle section:after {
  clear: both;
}
/* line 273, ../../app/styles/main.scss */
.module section.noBorder, form section.noBorder, .toggle section.noBorder {
  border: none;
}
/* line 276, ../../app/styles/main.scss */
.module section .control-group, form section .control-group, .toggle section .control-group {
  margin-bottom: 6px;
}
/* line 279, ../../app/styles/main.scss */
.module section .formLabel, .module section label, form section .formLabel, form section label, .toggle section .formLabel, .toggle section label {
  width: 30%;
  float: left;
  margin-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
}
/* line 286, ../../app/styles/main.scss */
.module section .form, .module section .controls, form section .form, form section .controls, .toggle section .form, .toggle section .controls {
  width: 70%;
  margin-top: 5px;
  padding-bottom: 6px;
}
/* line 291, ../../app/styles/main.scss */
.module section .form .note, .module section .controls .note, form section .form .note, form section .controls .note, .toggle section .form .note, .toggle section .controls .note {
  font-size: 12px;
  color: #b49d87;
  margin-top: 11px;
  display: block;
  margin-left: 7px;
  width: 72%;
}
/* line 300, ../../app/styles/main.scss */
.module section .form label.checkbox,
.module section .form label.radio, .module section .controls label.checkbox,
.module section .controls label.radio, form section .form label.checkbox,
form section .form label.radio, form section .controls label.checkbox,
form section .controls label.radio, .toggle section .form label.checkbox,
.toggle section .form label.radio, .toggle section .controls label.checkbox,
.toggle section .controls label.radio {
  margin-top: 0;
  min-height: 30px;
  width: 80%;
}
/* line 305, ../../app/styles/main.scss */
.module section .form input[type="radio"], .module section .form input[type="checkbox"], .module section .controls input[type="radio"], .module section .controls input[type="checkbox"], form section .form input[type="radio"], form section .form input[type="checkbox"], form section .controls input[type="radio"], form section .controls input[type="checkbox"], .toggle section .form input[type="radio"], .toggle section .form input[type="checkbox"], .toggle section .controls input[type="radio"], .toggle section .controls input[type="checkbox"] {
  margin-top: 3px;
}
/* line 309, ../../app/styles/main.scss */
.module section .submitMessage, form section .submitMessage, .toggle section .submitMessage {
  margin-left: 10px;
}
/* line 330, ../../app/styles/main.scss */
.module select,
.module textarea,
.module input[type="text"],
.module input[type="password"],
.module input[type="datetime"],
.module input[type="datetime-local"],
.module input[type="date"],
.module input[type="month"],
.module input[type="time"],
.module input[type="week"],
.module input[type="number"],
.module input[type="email"],
.module input[type="url"],
.module input[type="search"],
.module input[type="tel"],
.module input[type="color"],
.module .uneditable-input, form select,
form textarea,
form input[type="text"],
form input[type="password"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="week"],
form input[type="number"],
form input[type="email"],
form input[type="url"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
form .uneditable-input, .toggle select,
.toggle textarea,
.toggle input[type="text"],
.toggle input[type="password"],
.toggle input[type="datetime"],
.toggle input[type="datetime-local"],
.toggle input[type="date"],
.toggle input[type="month"],
.toggle input[type="time"],
.toggle input[type="week"],
.toggle input[type="number"],
.toggle input[type="email"],
.toggle input[type="url"],
.toggle input[type="search"],
.toggle input[type="tel"],
.toggle input[type="color"],
.toggle .uneditable-input {
  height: 30px;
  display: block;
  width: 75%;
}
/* line 336, ../../app/styles/main.scss */
.module textarea, form textarea, .toggle textarea {
  height: auto;
  margin-bottom: 4px;
  margin-top: 6px;
}

/* line 344, ../../app/styles/main.scss */
.form-horizontal .control-group {
  margin-bottom: 6px;
}
/* line 347, ../../app/styles/main.scss */
.form-horizontal .controls {
  margin-left: 218px;
}

/* line 355, ../../app/styles/main.scss */
table.users a:hover {
  font-weight: normal;
  text-decoration: underline;
}

/* line 361, ../../app/styles/main.scss */
.inTableError {
  cursor: pointer;
}
/* line 363, ../../app/styles/main.scss */
.inTableError:hover > .errorTooltip {
  display: block;
}

/* line 368, ../../app/styles/main.scss */
table.users .error {
  color: #be1522;
  margin-right: 8px;
}

/* line 373, ../../app/styles/main.scss */
table.users .warn {
  color: #f9b233;
  margin-right: 8px;
}

/* line 378, ../../app/styles/main.scss */
.errorTooltip {
  display: none;
  position: absolute;
  width: 250px;
  background: #FFF;
  padding: 1em;
  border: 3px solid #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-left: -180px;
  margin-top: -2.55em;
}
/* line 388, ../../app/styles/main.scss */
.errorTooltip strong {
  margin-left: 8px;
  text-transform: capitalize;
}

/* line 396, ../../app/styles/main.scss */
th.sort-header {
  cursor: pointer;
}

/* line 400, ../../app/styles/main.scss */
th.sort-header::-moz-selection,
th.sort-header::selection {
  background: transparent;
}

/* line 403, ../../app/styles/main.scss */
table th.sort-header:after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
}

/* line 412, ../../app/styles/main.scss */
table th.sort-header:hover:after {
  visibility: visible;
}

/* line 417, ../../app/styles/main.scss */
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility: visible;
  opacity: 0.4;
}

/* line 421, ../../app/styles/main.scss */
table th.sort-up:after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

/* line 429, ../../app/styles/main.scss */
.modal {
  outline: none;
}

/* line 433, ../../app/styles/main.scss */
.modal-backdrop {
  background-color: #f7f2ec;
}

/* line 437, ../../app/styles/main.scss */
.modal-footer {
  background-color: #f7f2ec;
}
